<a href="https://colab.research.google.com/github/Yun0726/class2022Spring/blob/main/20220316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a='530' ; print(type(a))
a= 1.0 ; print(type(a))

<class 'str'>
<class 'float'>

In [ ]:
a='himart' ; print(a[4])
c=[1,'tub','git',[345,'감자']] ; print(type(c))
c[3][1]

r
<class 'list'>

'감자'

In [ ]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[-1]); print(a[-3]); print(a[2]); print(a[2][1])

<class 'list'>
[3, '4']
1
[3, '4']
4

In [ ]:
a =	{'347': "사과", "257": '오렌지', '319': 2015}
print(type(a))
print(a['319'])

<class 'dict'>
2015

In [ ]:
p = '34534'
print(p[3], p[4], p[-1], p[-5])
print(p[1:3], p[1:], p[:3], p[:])

3 4 4 3
45 4534 345 34534

In [ ]:
n = [3587, 14320, 'be']
print(n[2], n[1], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])
n[0]*n[1]

be 14320 be 3587
[14320] [14320, 'be'] [3587, 14320] [3587, 14320, 'be']

51365840

In [ ]:
a.upper()

'HIMART'

In [ ]:
s = ' this is a house built this year.n'
result = s.find('house')
result

11

In [ ]:
s = s.strip()      	       
s

'this is a house built this year.n'

In [ ]:
bunch = s.split(' ')	      
bunch

['this', 'is', 'a', 'house', 'built', 'this', 'year.n']

In [ ]:
py = ' '.join(bunch)	    
py

'this is a house built this year.n'

In [ ]:
s = py.replace('this', 'those')
s

'those is a house built those year.n'

In [ ]:
def multiply(a,b):
  return a*b

def multi(a,b):
  d=a*b
  return d

def multipi(a,b,c,d):
  e=a*b*c*d
  return e

def subtract(a,b):
  return a-b

In [ ]:
c = multi(45,3); print(c)
b = subtract(1,5); print(b)
eg = multipi(1,4,2,3); print(eg)
c = divide(1,2); print(c)

135
-4
24
0.5

In [ ]:
a = [1, 2, 3, 4, 5,'6508']
for i in a:
    print(i)

In [ ]:
a = [1, 2, 3, 4,700,350]
for b in range(len(a)):
    print(b)

py=['sweet potato','strawberry','chocolate']
for c in range(len(py)):
    print(py)

0
1
2
3
4
5
['sweet potato', 'strawberry', 'chocolate']
['sweet potato', 'strawberry', 'chocolate']
['sweet potato', 'strawberry', 'chocolate']

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(a)

a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

['red', 'green', 'blue', 'purple']
['red', 'green', 'blue', 'purple']
['red', 'green', 'blue', 'purple']
['red', 'green', 'blue', 'purple']
red
green
blue
purple

In [ ]:
a = 500
if a == 500:
    print('저렴')
else:
    print('비쌈')

저렴

In [ ]:
for i in range(1, 5):
    for j in range(2, 4):
      for z in range(3,5):
        print(i*j*z)

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >5:
            print(i*j)

In [ ]:
a = [1, 2, 3, 4]
b = [gap for gap in a if gap>=2]
b

[2, 3, 4]

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=5]
b

['green', 'purple']

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = ['빨강', '초록', '파랑', '보라']
c = {a[i]:b[i] for i in range(4)}
c

{'blue': '파랑', 'green': '초록', 'purple': '보라', 'red': '빨강'}

In [18]:
import numpy as np

import numpy

In [ ]:
x = np.array([1,2,'350'])
print(x)
print(type(x))
print(x.shape)

In [ ]:
x = np.array([[1,2,'힘'], [4,5,'force']])
print(x)
print(type(x))
print(x.shape)

In [ ]:
x = np.array([[[1,2,3], [4,5,6],[4,9,70]], [[7,8,9], [10,11,12],[5,9,10]]])
print(x)
print(type(x))
print(x.shape)

In [ ]:
x = np.arange(3)
print(x)
print(type(x))
print(x.shape)

x = np.arange(3,6)
print(x)
print(type(x))
print(x.shape)

x = np.arange(3,8,1.3)
print(x)
print(type(x))
print(x.shape)

In [ ]:
x = np.linspace(3,9.7,3)
print(x)
print(type(x))
print(x.shape)

In [ ]:
x = np.ones([2, 3])
print(x)
print(type(x))
print(x.shape)

In [24]:
import numpy.random as nr
x=nr.randn(9)

In [ ]:
from matplotlib.pyplot import hist
hist(x)

In [ ]:
np.random.normal(0, 3, [3,4,9])

In [26]:
import matplotlib.pyplot as plt

In [ ]:
x = np.random.normal(0, 1, [5,9])
print(x)
plt.hist(x, bins=4)